<div class="card">
  <div class="header content">

  </div>
  <form class="content" id="filter">
    <fieldset class="collapsible">
      <legend class="panel-heading">
        <a href="#filter-body" class="panel-title" data-toggle="collapse">Filter search</a>
      </legend>
      <div id="filter-body" class="collapse">

        <div class="form-group">
          <label for="group">Booster key</label>
          <select name="boosterKey" id="boosterKey" class="form-control">
            <option value="">All</option>
            <option *ngFor="let item of listBoosterKeys" value="{{item}}">{{item}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="group">Member</label>
          <input type="text" id="memberId" name="memberId" class="form-control" placeholder="Owner" ng2-auto-complete (valueChanged)="myCallback($event)"
            [source]="observableSource.bind(this)" [list-formatter]="autocompleListFormatter" (keyup)="onKey($event)" value-property-name="id"
            display-property-name="email">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-info" (click)="submitFilter()">Filter</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>


<div class="card">
  <div class="content table-responsive table-full-width">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Member</th>
          <th>Booster Key</th>
          <th>Number</th>
          <th>Operations</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="isEmpty">
          <td colspan="8">Empty data</td>
        </tr>
        <tr *ngFor="let safebox of dataList; let i = index;">
          <td *ngIf="safebox.memberDetail !== undefined">{{safebox.memberDetail.email}}</td>
          <td>{{safebox.boosterKey}}</td>
          <td>{{safebox.number}}</td>
          <td class=""><a (click)="showEdit(safebox.id)">Edit</a></td>

        </tr>
      </tbody>
    </table>
    <ul class="pagination pull-right">
      <li [ngClass]="{'disabled': !prevPage}"><a (click)="prevPageClick()">Prev</a></li>
      <li [ngClass]="{'disabled': !nextPage}"><a (click)="nextPageClick()">Next</a></li>
    </ul>
  </div>
</div>



<div class="modal fade" id="modal-id" >
<!--<div class="modal fade" id="modal-id">-->
  <div class="modal-dialog modal-lg" *ngIf="detailData">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Edit Member Booster</h4>
      </div>
      <div class="modal-body">


        <div class="row">


          <div class="col-lg-12">

            <div class="form-horizontal">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Member </label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputEmail3" *ngIf="detailData.memberDetail !== undefined" value="{{detailData.memberDetail.email}}" disabled>
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Booster key</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputPassword3" value="{{detailData.boosterKey}}" disabled>
                </div>
              </div>
               <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Number </label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputPassword3"  [(ngModel)]="detailData.number" (keypress)="checkInputNumber($event)">
                </div>
              </div>
            </div>

          </div>


        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="updateMemberBooster()">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="loader hide"></div>
