<div class="card">
  <div class="header content">

  </div>
  <form class="content" id="filter">
    <fieldset class="collapsible">
      <legend class="panel-heading">
        <a href="#filter-body" class="panel-title" data-toggle="collapse">Filter search</a>
      </legend>
      <div id="filter-body" class="collapse">
        <div class="form-group">
          <label for="group">Store name</label>
          <!--<input type="text" id="storeId" name="storeId" class="form-control" placeholder="Owner" ng2-auto-complete (valueChanged)="myCallback($event)"
            [source]="observableSource.bind(this)" [list-formatter]="autocompleListFormatter" (keyup)="onKey($event)" value-property-name="id"
            display-property-name="name">-->
          <input type="text" id="name" name="name" class="form-control" placeholder="Name">
        </div>

        <div class="form-group">
          <label for="group">OWNER</label>

          <input type="text" id="email" name="email" class="form-control" placeholder="Owner" ng2-auto-complete [source]="observableSource.bind(this)"
            (keyup)="onKey($event)" value-property-name="id" [list-formatter]="autocompleListFormatter" display-property-name="email">

        </div>
        <div class="form-group">
          <label for="group">Status</label>
          <select name="openStatus" id="openStatus" class="form-control">
            <option value="">All</option>
            <option value="open">Open</option>
            <option value="closed">Closed</option>
          </select>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-info" (click)="submitFilter()">Filter</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>


<div class="card">
  <div class="content table-responsive table-full-width">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Store Name</th>
          <th>owner</th>
          <th>Status</th>
          <th>Products</th>
          <th>Created date</th>
          <th>Modified date</th>
          <th>OPERATIONS</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="isEmpty">
          <td colspan="8">Empty data</td>
        </tr>
        <tr *ngFor="let store of dataList; let i = index;">
          <td>{{store.name}}</td>
          <td *ngIf="store.memberDetail"><a href="/#/member/{{store.ownerId}}">{{store.memberDetail.email}}</a></td>
          <td>{{store.openStatus}}</td>
          <td>{{store.noOfProducts}}</td>
          <td>{{store.created | date:'medium'}}</td>
          <td>{{store.modified | date:'medium'}}</td>
          <td>
            <a href="/#/store/{{store.id}}"><i class="fa fa-image"></i></a>
          </td>

        </tr>
      </tbody>
    </table>
    <ul class="pagination pull-right">
      <li [ngClass]="{'disabled': !prevPage}"><a (click)="prevPageClick()">Prev</a></li>
      <li [ngClass]="{'disabled': !nextPage}"><a (click)="nextPageClick()">Next</a></li>
    </ul>
  </div>
</div>