<div class="row" style="margin-bottom: 15px;">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 group-action">
    <div class="btn-group" role="group" aria-label="...">
      <a href="#/store" class="btn btn-default">Cancel</a>
    </div>
  </div>
</div>
<div class="card container-fluid">


  <div class="row" *ngIf="storeData">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content">
      <form class="form-horizontal">
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Name :</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Name" [value]="storeData.name" disabled>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Owner :</label>
          <div class="col-sm-10">
            <!--<input type="text" class="form-control" placeholder="Name" *ngIf="storeData.memberDetail" [value]="storeData.memberDetail.email"
              disabled/>-->
            <a class="form-control" style="color: #11bfe3;" href="#/member/{{storeData.ownerId}}" *ngIf="storeData.memberDetail">{{storeData.memberDetail.email}}</a>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Key Generation Status :</label>
          <div class="col-sm-10">
            <ul class="list-group" *ngIf="storeData.keyGenerationStatus">
              <li class="list-group-item">Key Time : {{storeData.keyGenerationStatus.keyTime}}</li>
              <li class="list-group-item">Key Unlock Status : {{storeData.keyGenerationStatus.keyUnlockStatus}}</li>
              <li class="list-group-item">Start Date : {{storeData.keyGenerationStatus.startDate | date: 'medium'}}</li>
              <li class="list-group-item">Total Duration : {{storeData.keyGenerationStatus.totalDuration}}</li>
            </ul>
            <div *ngIf="!storeData.keyGenerationStatus"><input type="text" disabled value="None" class="form-control"></div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Total Open Time : </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" [value]="storeData.totalOpenTime" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Active Cells : </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" [value]="storeData.activeCells" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Closing Time : </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" [value]="storeData.closingTime" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Environment : </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" [value]="storeData.environment" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Construction Time : </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" [value]="storeData.constructionTime" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Construction Status : </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" [value]="storeData.constructionStatus" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Construction Type : </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" [value]="storeData.constructionType" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Construction StartDate : </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" [value]="storeData.constructionStartDate | date: 'medium'" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Construction Total Duration : </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" [value]="storeData.constructionTotalDuration" disabled>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Products :</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Status" [value]="storeData.noOfProducts" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Crowd : </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" [value]="storeData.crowd" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Last Open : </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" [value]="storeData.lastOpen | date: 'medium'" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Last Update : </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" [value]="storeData.lastUpdate | date: 'medium'" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Notified : </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" [value]="storeData.notified" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">TotalStar : </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" [value]="storeData.totalStar" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Statistic : </label>
          <div class="col-sm-10">
            <ul class="list-group" *ngIf="storeData.keyGenerationStatus">
              <li class="list-group-item">Money : {{storeData.statistic.money}}</li>
              <li class="list-group-item">Customer specific : {{storeData.statistic.customer_specific}}</li>
              <li class="list-group-item">Customer Impulse : {{storeData.statistic.customer_impulse}}</li>
              <li class="list-group-item">Customer Window : {{storeData.statistic.customer_window}}</li>
              <li class="list-group-item">Customer Bigspender : {{storeData.statistic.customer_bigspender}}</li>
              <li class="list-group-item">Customer Leprechaun : {{storeData.statistic.customer_leprechaun}}</li>
              <li class="list-group-item">Customer Specific Sold : {{storeData.statistic.customer_specific_sold}}</li>
              <li class="list-group-item">Customer Impulse Sold : {{storeData.statistic.customer_impulse_sold}}</li>
              <li class="list-group-item">Customer Window Sold : {{storeData.statistic.customer_window_sold}}</li>
              <li class="list-group-item">Customer Bigspender Sold : {{storeData.statistic.customer_bigspender_sold}}</li>
              <li class="list-group-item">Customer Leprechaun Sold : {{storeData.statistic.customer_leprechaun_sold}}</li>
              <li class="list-group-item">Total Spawned Customers : {{storeData.statistic.total_spawned_customers}}</li>
              <li class="list-group-item">Total Satisfied Customers : {{storeData.statistic.total_satisfied_customers}}</li>
            </ul>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Best Score : </label>
          <div class="col-sm-10">
            <ul class="list-group" *ngIf="storeData.keyGenerationStatus">
              <li class="list-group-item">Money : {{storeData.bestScore.money}}</li>
              <li class="list-group-item">Open Time : {{storeData.bestScore.openTime}}</li>
            </ul>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Status :</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Status" [value]="storeData.openStatus" disabled>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">Created:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputPassword3" [value]="storeData.created | date: 'medium'" disabled>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">Modified:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputPassword3" [value]="storeData.modified | date: 'medium'" disabled>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>