
<div class="card">
 <div class="header content">
    <a class="btn btn-success btn-fill btn-wd" routerLink="/purchasepackage/create"><i class="fa fa-plus" aria-hidden="true"></i>Add new Purchase Package</a>
  </div>
  <form class="content" id="filter">
    <fieldset class="collapsible">
      <legend class="panel-heading">
        <a href="#filter-body" class="panel-title" data-toggle="collapse">Filter search</a>
      </legend>
      <div id="filter-body" class="collapse">
	        <div class="form-group">
	          <label for="name">Keywords</label>
	          <input type="text" id="name" name="name" class="form-control" value="" placeholder="Name">
	        </div>
	        <div class="form-group">
	  			<label for="category">Category</label>
	  			<select name="category" id="category" class="form-control">
	  				<option value="">- All -</option>
	  				<option *ngFor="let item of categoryList" value="{{item}}">{{item}}</option>
	  			</select>
	  		</div>
  			<div class="form-group">
	          <label for="price">Price</label>
	          <input type="number" step="any" id="price" name="price" class="form-control">
	        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-info" (click)="submitFilter()">Filter</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>


<div class="card">
  <div class="content table-responsive table-full-width">
    <table class="table table-hover">
		<thead>
			<tr>
			 	<th class="text-center">Name</th>
	           	<th>Description</th>
	         	<th>Category</th>
	          	<th>Items</th>
	          	<th>Price</th>
	          	<th>Unit</th>
	          	<th>Created date</th>
	          	<th>Modified date</th>
	          	<th class="text-center">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngIf="isEmpty">
	          <td colspan="8">Empty data</td>
	        </tr>
			<tr *ngFor="let purchasepackage of dataList; let i = index;">
				<td><a routerLink="/purchasepackage/{{purchasepackage.id}}/detail">{{purchasepackage.name}}</a></td>
				<td>{{purchasepackage.description}}</td>
				<td class="text-capitalize">{{purchasepackage.category}}</td>
				<td><li *ngFor="let item of purchasepackage.items">{{item.boosterKey}} ({{item.number}})</li></td>
				<td>{{purchasepackage.price}}</td>
				<td>{{purchasepackage.priceUnit}}</td>
				<td>{{purchasepackage.created | date:'medium'}}</td>
				<td>{{purchasepackage.modified | date:'medium'}}</td>
				<td class="td-actions" style="width:5%">
		            
		            <button class="btn btn-success btn-simple btn-icon" data-placement="left" rel="tooltip" title="" type="button" data-original-title="Edit Product" routerLink="/purchasepackage/{{purchasepackage.id}}/edit">
		                <i class="fa fa-edit"></i>
		            </button>
		            <button class="btn btn-danger btn-simple btn-icon " data-placement="left" rel="tooltip" title="" type="button" (click)="deleteItem(purchasepackage.id, purchasepackage.name, i)">
		                <i class="fa fa-times"></i>
		            </button>
		          </td>
	        </tr>
		</tbody>
	</table>
    <ul class="pagination pull-right">
      <li [ngClass]="{'disabled': !prevPage}"><a (click)="prevPageClick()">Prev</a></li>
      <li [ngClass]="{'disabled': !nextPage}"><a (click)="nextPageClick()">Next</a></li>
    </ul>
  </div>
</div>