<div class="row" *ngIf="memberData">

  <div role="tabpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#View" aria-controls="View" role="tab" data-toggle="tab">View</a>
      </li>
      <li role="presentation">
        <a href="#Edit" aria-controls="Edit" role="tab" data-toggle="tab">Edit</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="View">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="viewDetail">
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center">
            <img alt="140x140" data-src="holder.js/140x140" class="img-circle avatar-profile" src="assets/img/default-avatar.png" data-holder-rendered="true"
              *ngIf="!memberData.avatar">
            <img alt="140x140" data-src="holder.js/140x140" class="img-circle avatar-profile" src="{{memberData.avatar}}" data-holder-rendered="true"
              *ngIf="memberData.avatar">
            <h4>Full Name:</h4>
            <h3>{{memberData.fullName}}</h3>
          </div>

          <div class="col-md-9 col-lg-9">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Email:</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" placeholder="Email" [value]="memberData.email" disabled>
                </div>
              </div>

              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Date of birth:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" [value]="memberData.dateOfBirth | date: 'medium'" disabled>
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Gender:</label>
                <div class="col-sm-10" [ngSwitch]="memberData.gender">
                  <input type="text" class="form-control" *ngSwitchCase="1" value="Male" disabled>
                  <input type="text" class="form-control" *ngSwitchCase="2" value="Famale" disabled>
                  <input type="text" class="form-control" *ngSwitchDefault value="Male" disabled>
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Type:</label>
                <div class="col-sm-10">

                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let item of memberData.type" [ngSwitch]="item">
                      <p *ngSwitchCase="1">User</p>
                      <p *ngSwitchCase="2">Admin</p>
                      <p *ngSwitchCase="3">Merchant</p>
                      <p *ngSwitchDefault>Undefined</p>
                    </li>
                  </ul>

                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Created:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputPassword3" [value]="memberData.created | date: 'medium'" disabled>
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Modified:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputPassword3" [value]="memberData.modified | date: 'medium'" disabled>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="Edit">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <app-your-profile-edit [id]="memberData.id" (onSave)="onSave($event)"></app-your-profile-edit>
        </div>
      </div>
    </div>
  </div>































</div>