<h3>Dear <%= fullName %>,</h3>

<p>
  Thanks for using our forgot password service. Please input the code below into the app to reset your password:
</p>

<p align="center">
  <h2><%= pwdRecoveryToken %></h2>
</p>

<p>
  <a href="<%= confirmURL %>">Click here</a> to verify and reset your password.
</p>