Hi <%= lastName %>,<br/>
<p>
To complete the registration process and activate your account, please follow the link below:<br/>
<a href="<%= redirect %>"><%= redirect %></a>
</p>
Sincerely,<br/>
The Stocket team