<div class="main-content" *ngIf="purchasepackageData">
    <ol class="breadcrumb">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/purchasepackage">Purchase Package</a></li>
        <li class="active text-capitalize" *ngIf="!isCreateForm"><a routerLink="/purchasepackage/{{purchasepackageData.id}}/detail">{{purchasepackageData.name}}</a></li>
        <li class="active text-capitalize" *ngIf="!isCreateForm">Edit</li>
    </ol>
    <div class="container-fluid">
        <div class="row">
            <div class="content">
                <form [formGroup]="formPurchasePackage" id="formPurchasePackage">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Name <span class="star">*</span></label>
                                <input class="form-control" type="text" formControlName="name" [(ngModel)]="purchasepackageData.name" required="true">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Description <span class="star">*</span></label>
                                <textarea class="form-control form-textarea" type="text" formControlName="description" [(ngModel)]="purchasepackageData.description"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Category <span class="star">*</span></label>
                                <input class="form-control" type="text" formControlName="category" [(ngModel)]="purchasepackageData.category" required="true">
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div>
                                <legend>Items <span class="star">*</span></legend>
                                <app-purchasepackage-edit-item *ngFor="let item of purchasepackageData.items" [purchasepackageItem]="item"></app-purchasepackage-edit-item>
                                <div class="row col-lg-12" style="margin-top: 15px;">
                                    <button type="button" (click)="addItem()" class="btn btn-info">Add</button>
                                    <button type="button" (click)="removeItem()" class="btn btn-danger">Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Price <span class="star">*</span></label>
                                <input type="number" step="any" class="form-control" formControlName="price" [(ngModel)]="purchasepackageData.price" required="true">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Price Unit <span class="star">*</span></label>
                                <select class="form-control" formControlName="priceUnit" [(ngModel)]="purchasepackageData.priceUnit">
                                    <option value="USD">USD</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn btn-info btn-fill pull-left" style="margin-right: 5px;" type="submit" [disabled]="!formPurchasePackage.valid" (click)="submitForm()">Save</button>
                        <button class="btn btn-danger btn-fill" type="button" (click)="reset()">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
