
<div class="card">
 <div class="header content">
  </div>
  <form class="content" id="filter">
    <fieldset class="collapsible">
      <legend class="panel-heading">
        <a href="#filter-body" class="panel-title" data-toggle="collapse">Filter search</a>
      </legend>
      <div id="filter-body" class="collapse">
        <div class="form-group">
          <label for="name">Keywords </label>
          <input type="text" id="name" name="name" class="form-control" value="" placeholder="Name">
        </div>
		<div class="form-group">
  			<label for="key">Key</label>
  			<select name="key" id="key" class="form-control">
  				<option value="">- All -</option>
  				<option *ngFor="let item of boosterKeys" value="{{item}}">{{item}}</option>
  			</select>
  		</div>

		<div class="form-group">
  			<label for="category">Category</label>
  			<select name="category" id="category.name" class="form-control">
  				<option value="">- All -</option>
  				<option *ngFor="let item of categories" value="{{item.code}}">{{item.name}}</option>
  			</select>
  		</div>
		<div class="form-group">
          <label for="priceUnit">Price Unit</label>
          <input type="text" id="priceUnit" name="priceUnit" class="form-control" value="" placeholder="USD">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-info" (click)="submitFilter()">Filter</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>


<div class="card">
  <div class="content table-responsive table-full-width">
    <table class="table table-hover">
		<thead>
			<tr>
			 	<th class="text-center">Name</th>
	           	<th>Description</th>
	           	<th>Category</th>
	           	<th>Rarity</th>
	           	<th>Price</th>
	           	<th>Price Unit</th>
	           	<th>Key</th>
	         	<th>Created date</th>
	          	<th class="text-center">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngIf="isEmpty">
	          <td colspan="8">Empty data</td>
	        </tr>
			<tr *ngFor="let booster of dataList; let i = index;">
				<td><a routerLink="/booster/{{booster.id}}/detail">{{booster.name}}</a></td>
				<td>{{booster.description}}</td>
				<td>{{booster.category.name}}</td>
				<td>{{booster.rarity}}</td>
				<td>{{booster.price}}</td>
				<td>{{booster.priceUnit}}</td>
				<td>{{booster.key}}</td>
				<td class="text-capitalize">{{booster.created | date:'medium'}}</td>
				<td class="td-actions" style="width:5%">
		            
		            <button class="btn btn-success btn-simple btn-icon" data-placement="left" rel="tooltip" title="" type="button" data-original-title="Edit Product" routerLink="/booster/{{booster.id}}/edit">
		                <i class="fa fa-edit"></i>
		            </button>
		          </td>
	        </tr>
		</tbody>
	</table>
    <ul class="pagination pull-right">
      <li [ngClass]="{'disabled': !prevPage}"><a (click)="prevPageClick()">Prev</a></li>
      <li [ngClass]="{'disabled': !nextPage}"><a (click)="nextPageClick()">Next</a></li>
    </ul>
  </div>
</div>