<header id="navbar" role="banner" class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header pull-left">
      <a class="logo navbar-btn pull-left" href="/" title="Home">
        <img src="http://shopping-prod.stocket.com/sites/all/themes/sv_shopping/logo.png" alt="Home" height="40px" />
      </a>
    </div>
  </div>
</header>

<div class="main-container container">
  <div class="row">
    <section class="col-sm-12">
      <h2 class="page-header text-danger text-center">
        Opp! Somthing wrong here
        <br>
        <i class="fa fa-frown-o icon-danger" aria-hidden="true"></i>
      </h2>
      <div class="col-lg-12 well well-lg alert-danger message">
        {{msg}}
      </div>
    </section>
  </div>
</div>