<div class="card">
  <form class="content" id="filter">
    <fieldset class="collapsible">
      <legend class="panel-heading">
        <a href="#filter-body" class="panel-title" data-toggle="collapse">Filter search</a>
      </legend>
      <div id="filter-body" class="collapse">
        <div class="form-group">
          <label for="transactionId">Transaction ID</label>
          <input type="text" id="transactionId" class="form-control" value="{{where['transactionId']}}" placeholder="Transaction ID">
        </div>
        <div class="form-group">
          <label for="email">Member</label>
          <input type="text" class="form-control" id="email" placeholder="Member" value="{{where['email']}}">
        </div>
        <div class="form-group">
          <label for="platform">Platform</label>
          <select id="platform" class="form-control">
            <option value=""> - All - </option>
            <option [attr.selected]="where['platform'] == 'IOS' ? true: null" value="IOS">iOS</option>
            <option [attr.selected]="where['platform'] == 'ANDROID' ? true: null" value="ANDROID">Android</option>
          </select>
        </div>

        <div class="form-group">
          <label for="purchasePackageLogId">Purchase Package</label>
          <!-- <input type="text" class="form-control" id="purchasePackageLog_Name" placeholder="Purchase Package" value="{{where['purchasePackageLog_Name']}}"> -->
          <select id="purchasePackageLogId" class="form-control">
          <option value=""> - All - </option>
          <option *ngFor="let item of purchasePackageList" [attr.selected]="where['purchasePackageLogId'] == item.id ? true: null" value="{{item.id}}">{{item.name}}</option>
          <!-- <option [attr.selected]="where['platform'] == 'ANDROID' ? true: null" value="ANDROID">Android</option> -->
        </select>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-info" (click)="submitFilter()">Filter</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>


<div class="card">
  <div class="content table-responsive table-full-width">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="text-center">Transaction ID</th>
          <th>Member</th>
          <th>Platform</th>
          <th>Purchase Package</th>
          <th class="text-center">Price</th>
          <th>Price Unit</th>
          <th class="text-right">Status</th>
          <th class="text-right">Created date</th>
          <th class="text-right">Modified date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="isEmpty">
          <td colspan="8">Empty data</td>
        </tr>
        <tr *ngFor="let order of ordersList">
          <td>{{order.transactionId}}</td>
          <td *ngIf="order.memberDetail !== undefined"><a href="#/member/{{order.memberId}}"> {{order.memberDetail.email}}</a></td>
          <td class="text-capitalize">{{order.platform}}</td>
          <td class="text-center">{{order.purchasePackageLog.name}}</td>
          <td class="text-center">{{order.price}}</td>
          <td class="text-center">{{order.priceUnit}}</td>
          <td class="text-center">{{order.status}}</td>
          <td class="text-center">{{order.created | date: 'dd/MM/yyyy - HH:mm:ss'}}</td>
          <td>{{order.modified | date: 'dd/MM/yyyy - HH:mm:ss'}}</td>
        </tr>
      </tbody>
    </table>
    <ul class="pagination pull-right">
      <li [ngClass]="{'disabled': !prevPage}"><a (click)="prevPageClick()">Prev</a></li>
      <li [ngClass]="{'disabled': !nextPage}"><a (click)="nextPageClick()">Next</a></li>
    </ul>
  </div>
</div>